*{
    margin:0;
    padding:0;
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    background-color: rgb(21, 21, 34);
    color:white;
    line-height:5rem;
    height:5rem;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:5rem;
    gap:2rem;
}
.choice{
    width:165px;
    height:165px;
    
}
.choice:hover{
    opacity:0.5;
    cursor:pointer;
}
img{
    width:150px;
    height:150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgb(34, 33, 33);;
}
.scoreboard{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;;
    gap:4rem;
    margin-top:1.5rem;
    margin-left:2rem;
}
#user, #comp{
    font-size:3rem;
}
.score{
    padding-left:70px;
}
.mssge-container{
    margin-top:3rem;
    margin-left:5rem;
}
#msg{
     color:white;
     background-color:rgb(21, 21, 34);
     font-size: 2rem;
     display:inline;
     padding:0.5rem;
     border-radius: 20px;
     box-shadow: 5px 5px 30px rgb(21, 21, 34);
}